html {
  font-size: 10px;
  background: url('https://thumbs.dreamstime.com/b/drum-stick-orange-table-background-top-view-music-concept-176417570.jpg') bottom center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 8em;
  color: white;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 0px;
}

.keys {
  display: flex;
  flex: 1;
  min-height:50vh;
  align-items: center;
  justify-content: center;
}

.music {
  background-color: rebeccapurpled;
  position: absolute;
  margin: auto;
  top: 60%;
  width: 1200px;
  height: 300px;
  border: none;
}

.key {
  border: none;
  border: .4rem solid black;
  border-radius: 50%;
  margin: 1rem;
  padding: 1rem .5rem;
  transition: all .07s;
  width: 10rem;
  text-align: center;
  background-image: linear-gradient(to bottom, #ff9966, #ff5e62);
  box-shadow: 0px 0px 10px #ff5e62;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.key:active {
  transform: scale(0.9);
}

kbd {
  display: block;
  font-size: 4rem;
  color: #fff;
  text-shadow: 0px 0px 10px #ff5e62;
}

.playing {
  transform: scale(2);
  border-color: #91ff00;
  box-shadow: 0 0 1rem #91ff00;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #fff;
  text-shadow: 0px 0px 10px #ff5e62;
} 
